# Dependency directories
node_modules

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode

#Electron-builder output
/dist_electron

# Vite
.vite/

# Electron-Forge
out/
